.btn-add {
  color: #fff;
  background-color: #5a5279;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: .25rem;
  padding: 8px;
  margin-bottom: 15px;
}

 .info {
  display: flex;
  justify-content: end;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

