.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-top: 10px !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-top: 30px !important;

}

.offer-field {
  width: 45%;  
  margin-right: 20px !important; 
}
