.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.left-sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}
.logo {
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 50%;
  background-color: #5a5279;
  padding: 8px;
  margin-bottom: 24px;

}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-link {
  width: 26px;
  height: 26px; 
  margin-bottom: 24px;
  color: #2c2946;
}

.navbar-link:hover {
  color: #3785d2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon.setting {
  animation: spin 2s linear infinite;
}

.user-menu {
  position: absolute;
  left: 50px;
  top: 82%;
  background-color: white;
  border-radius: 5px;
  width: 200px; 
  z-index: 1;  
  box-shadow: 0 0 12px rgba(0,0,0,0.4); 
  text-align: center;
}

.user-menu a, .user-menu button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  /* border-bottom: 1px solid #ccc; */
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

}

.user-menu button {
  border: none;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

.user-menu a:last-child {
  border-bottom: none;
}

.user-menu a:hover {
  background-color: #ddd;
}

.user-menu button:hover {
  background-color: #ddd;
}
