.tablist, .tablist2 {
  display: flex;
  cursor: pointer;
}

.tablist.tabemployee {
  display: flex;
  justify-content: space-between;
}

.tablist2 .tab-item {
  margin-right: 0px;
  border: 1px #ccc solid;
  cursor: pointer;
}

.tablist2 .tab-item.active {
  border-bottom: #fff !important; 
}

.tabs-more {
  background-color: #fff;

}

.tab-item:hover {
  border-top: 1px #5a5279 solid;
}

.tab-item:focus {
  border-top: 1px #5a5279 solid;
}

.tab-item.active {
  border-top: 1px #5a5279 solid;
}

.tablist2 .tab-item.active {
  border-top: 2px #5a5279 solid;
}

.tablist .tab-item {
  list-style-type: none;
  padding: 15px 20px 25px 20px;
  margin-right: 15px;
  font-weight: 500;
}

.tablist2 .tab-item {
  list-style-type: none;
  padding: 10px 12px 10px 12px;
  font-weight: 500;
}

.empl-avt .delete-icon {
  display: none;
}
.empl-avt:hover .delete-icon {
  display: block;
}

.empl-avt img {
  width: 130px;
  height: 130px;
  padding-top: 30px;
}
.container-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
  
.form-grid {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box; 
}
.container-grid > div {
  flex-basis: 50%;
  max-width: 50%;
}

input[type="checkbox"] {
  transform: scale(.7);
}

.form-control.select {
  background-color: #fff;
  width: 45%;
  height: 45px;
  font-size: 16px;
}

.form-grid .item-info {
  display: flex;
  align-items: center;
}

.form-grid label {
  flex: 1;
}

.form-grid input {
  flex: 3;
}

.form-control1{
  width: 75%;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-color: #e8e9e9;
  font-size: 14px;
  height: 25px;
}
.form-control.more {
  flex: 1;
  margin: 20px 0px;
}
.form-control1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.container-grid .grid-item input, .container-grid .grid-item select  {
  width: 75%;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-color: #e8e9e9;
  font-size: 14px;
  height: 25px;
  margin: 10px 5px;
}

.container-grid .grid-item input:focus, .container-grid .grid-item select:focus {
  color: #495057;
  border-color: #80bdff;
  outline: 0;
}

.error {
  border-color: red;
}

.container-grid .grid-item progress {
  width: 100px;
  height: 15px;
  border: 1px solid #d8dadd;
    -webkit-appearance: none;  
  appearance: none;
}

.container-grid .grid-item progress::-webkit-progress-bar {
  background-color: white;  
}

.container-grid .grid-item progress::-webkit-progress-value {
  background-color: RGBA(113, 75, 103, 1 );  
}

.skill-experience-item {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  gap: 10px;
}

.skill-experience-item label {
  white-space: nowrap;
}

.skill-experience-item .skill-experience-input input {
  width: 50%;
}

.e-menu {
  position: absolute;
  right: 42px;
  top: 8%;
  background-color: white;
  border-radius: 5px;
  width: 135px; 
  z-index: 1;  
  box-shadow: 0 0 12px rgba(0,0,0,0.4); 
  text-align: center;
  padding: 12px 4px;
}

.e-menu button {
  border: none;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

.e-menu a:last-child {
  border-bottom: none;
  text-decoration: none;
  padding: 10px;
}

.e-menu a:hover {
  background-color: #ddd;
}