.resigned-label {
  position: fixed;
  top: 24px;
  right: 10px;
  width: 150px;
  height: 32px; 
  background-color: red;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%); 
  transform: rotate(-135deg);
  }
  
  .rotated-text {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
  position: relative;
  top: 7px;
}
